<body>
    <header>
        <h2>New Message</h2>
        <hr>
        <div>
            <a href="/">Back</a>
        </div>
        <form method="POST" action="/new">
            <div>
                <label for="author">Author: </label>
                <input type="text" id="author" name="author">
            </div>
            <div>
                <label for="msg">Message: </label>
                <textarea name="msg" id="msg"></textarea>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </header>
</body>